body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px;
  font-family: "Outfit";
}

a {
  text-decoration: none;
}

.header-menu {
  background: white;
  padding-bottom: 1rem;
  display: grid;
}

.header-titulo {
  font-size: 2rem;
  margin-left: 8rem;
  margin-top: 1rem;
}

.header-lista {
  display: flex;
  justify-self: end;
  list-style: none;
  margin-right: 4rem;
  margin-top: -1.7rem;
  position: relative;
}

.header-lista li {
  margin-right: 3rem;
}

.header-lista a {
  color: #000;
  position: relative;
}

.header-lista a::after {
  content: "";
  width: 0;
  height: 2px;
  bottom: 1.5px;
  left: 0; 
  position: absolute;
  background-color: black; 
  transition: width 0.4s ease; 
}

.header-lista a:hover::after {
  width: 100%;
  background-color: black; 
}

.header-lista li:last-child a:hover::after {
  background-color: transparent;
}

.header-lista li:last-child img {
  padding-left: 2rem;
  max-width: 1.5rem;
}
@media screen and (max-width: 880px) {
  .header-titulo {
    font-size: 1.5rem; 
    margin-left: 2rem; 
  }
  
  .header-lista {
    margin-right: 5rem;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: flex-end; 
  }
  .header-lista li { 
    margin-bottom: rem; 
  }
}
@media screen and (max-width: 750px){
  .header-menu {
    background: white;
    padding-bottom: 1rem;
    display: flex;
  }
  .header-lista {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-right: auto;
    margin-top: 1rem;
    position: relative;
  }
  .header-lista li{
    margin-top: 1rem;
    display: flex;
  }

}
